.container {
  width: min(100%, 1440px);
  margin: auto;
}

/* header */
header {
  background-color: #284069;
  display: flex;
  padding: 53px 98px;
  justify-content: space-between;
  align-items: center;
}

/* radgan flexia ar schirdeba zomebis mititeba da procentebshi gawera? */
/* .link_logo {
  width: 54px;
  height: 54px;
  display: inline-block;
}

.logo {
  width: 100%;
  height: 100%;
} */

.header_nav {
  display: flex;
  gap: 50px;
}

.active,
.inactive {
  font-family: "Ubuntu", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 27.58px;
}

.active {
  color: #f56013;
}

.inactive {
  color: #ddeaf8;
}

/* main section */

.main_section {
  background-color: #ddeaf8;
  padding: 94px 0;
}

h2 {
  color: #f56013;
  font-family: "ubuntu", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 auto 54px;
  width: calc(1244 / 1440 * 100%);
}

.card_section {
  display: flex;
  flex-wrap: wrap;
  width: calc(1244 / 1440 * 100%);
  margin: auto;
  gap: 30px 20px;
}

.card {
  margin: auto;
  padding: 30px;
  flex: 1 1 400px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card_button {
  width: 145px;
  height: 44px;
  border-radius: 10px;
  background-color: #f56013;
  font-family: "ubuntu", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

/* footer */

footer {
    background-color: #284069;
    padding-block: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}

.footer_title {
    font-family: "ubuntu", serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #FFFFFF;
}

.footer_ul {
    display: flex;
    column-gap: 32px;
}

.footer_nav {
    width: 18px;
    height: 18px;
}

.footer_nav img {
    width: 100%;
    height: 100%;
}

.icon {
    color: #E29770;
    font-size: 18px;
}
